<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Empleado</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h2>Registrar Empleado</h2>
    <br>
    <form th:object="${empleado}" th:action="@{/Registrar_Empleado}" method="post">
        <div class="form-group">
            <label>DNI:</label>
            <input type="text" class="form-control" th:field="*{dni_empleado}" required  maxlength="8" title="Verifique su DNI">
        </div>
        <div class="form-group">
            <label>Nombre:</label>
            <input type="text" class="form-control" th:field="*{nombre_empleado}" required>
        </div>
        <div class="form-group">
            <label>Apellido:</label>
            <input type="text" class="form-control" th:field="*{apellido_empleado}" required>
        </div>
        <div class="form-group">
            <label>Fecha de Nacimiento:</label>
            <input type="date" class="form-control" th:field="*{fechaNacimiento}" required>
        </div>
        <div class="form-group">
            <label>Dirección:</label>
            <input type="text" class="form-control" th:field="*{direccion}" required>
        </div>
        <div class="form-group">
            <label>Correo:</label>
            <input type="email" class="form-control" th:field="*{correo}" required>
        </div>
        <div class="form-group">
            <label>Área:</label>
            <select class="form-control" th:field="*{areaEntity}">
                <option th:each="area : ${areas}" th:value="${area.area_id}" th:text="${area.nombre_area}"></option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Registrar</button>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>